.item{
    /* background-color: whitesmoke; */
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0.7em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    width: 70%;
    max-width: 350px;
}

.item > div:first-child{
    display: flex;
    justify-content: space-between;
}

.item input{
    all: unset;
    overflow: auto;
    height: 1em;
    width: 80%;
    text-align: left;
}

.item .buttoner{
    display: flex;
    justify-content: space-around;
}

.item .buttoner > i{
    margin-right: 0.7em;
    color: gray;
}

.item .customBtn{
    border: 0.1em lightgray solid;
    border-radius: 50%;
    padding: 2px;
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
    user-select: none;
}

.item .units{
    padding-left: 0.4em;
    padding-right: 0.4em;
}

