.shopList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopList > input{
    all: unset;
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 200px;
    background-color: #EEE;
    padding: 1em;
    border-radius: 15px;
    text-align: left;
    color: gray;
    padding-left: 1em;
  }
  
 .shopList > input::placeholder{
    color: gray;
  }

.itemsList {
    max-height: 75vh;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

