header{
    background-color: #ffc60b;
    color: white;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    min-height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* LOGO WITH LINK */
header > a > i{
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 0.5em; 
}

header > a > h1{
    font-size: 1.5em;
}

/* BUTTONER */

header .buttoner{
    display: flex;
    align-items: center;
}

header .buttoner > a > i{
    font-size: 2.2em;
}