*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #fff;
  color: #444444;
}

a{
  all: unset;
  display: flex;
  align-items: center;
}

/* OVERFLOW SCROLL-BAR */

/* width */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}

.App {
  text-align: center;
  height: 100vh;
}

a{
  cursor: pointer;
}

/* === FOOTER === */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}